{% extends "layaut.html" %}
{% block content %}
        <section class="main" >
    
            <section class="articles">
                    <article>
                        <h2>CABALLOS</h2>
                        <p>
                            ¿Cuales son sus caracteristicas?<br>
                            El tamaño de Equus caballus varía entre 2 m en promedio para el caballo silvestre y 175 a 930 kg de peso. 
                            Se caracteriza por tener extremidades largas y fuertes, cuerpo en forma de barril y un cuello 
                            largo que soporta una cabeza grande. Su cuerpo está cubierto de pelo corto, 
                            aunque su coloración es muy variable.
                    </p>
                </article>
                    <article>
                        <h2></h2>
                        <p>
                            ¿Donde viven y de que se alimentan?<br>
                            Los caballos salvajes se alimentan principalmente de la hierba que encuentran 
                            en los prados por donde campan. En cautiverio, en cambio, suelen tener una dieta más variada; 
                            se les suele ofrecer pienso específico para ellos y alimentos como la alfalfa, el maíz, la avena, 
                            el calabacín, las zanahorias y las manzanas.
                    
                    </article>
            </section>  

        </section> 

        <aside>
            <h3> Datos curiosos:</h3>
            <p> 
                Los caballos duermen de pie. ...<br>
                Los caballos son herbívoros. ...<br>
                Los caballos no pueden eructar. ...<br>
                Los dientes de un caballo te informan de su edad aproximada. ...<br>
                Los caballos pueden vivir más de 30 años. ...<br>
                Gran parte de los caballos árabes tienen una vértebra menos que otras razas.<br>
            </p>

        </aside>

        <img src="/static/imagenes/gifcaballo.gif" width="200px">
        <img src="/static/imagenes/gifcaballo1.gif" width="130px">
{% endblock %}