{% extends "layaut.html" %}
{% block content %}
        <section class="main" >
    
            <section class="articles">
                    <article>
                        <h2>VETERINARIA</h2>
                        <p>
                            Esto es una pagina informativa para uso exclusivo de consultas de animales.<br>
                            Para uso en caso de ser necesario.
                        </p>
                    </article>
                    <article>
                        <h2></h2>
                        <p>
                            Nos especialisamos mas en los animales: Caballos, Pollos y Ovejas.<br>
                            Para mas informacion sobre ellos, puedes ingresar a la barra y entrar al animal que
                            deseas saber.
                        </p>
                    
                    </article>
            </section>  

        </section> 

        <aside>
            <h3> Avisos:</h3>
            <p> 
                Para mas informacion irse al numero telefonico que se muestra en 
                la parte inferior de la paguina. 
            </p>
        </aside>
{% endblock %}