{% extends "layaut.html" %}
{% block content %}
        <section class="main" >
    
            <section class="articles">
                    <article>
                        <h2>Ovejas</h2>
                        <p>
                            ¿Cuales son sus caracteristicas?<br>
                            Es mamífero y, como todos los mamíferos, nace del vientre de la madre y 
                            de recién nacido se alimenta de la leche de sus mamas. Tiene cuatro patas y un rabo. 
                            Su cuerpo está cubierto de lana que durante el verano se corta y a esto se le llama esquilar. 
                            La lana se utiliza para hacer prendas de vestir.
                        </p>
                    </article>
                    <article>
                        <h2></h2>
                        <p>
                            ¿Donde viven y de que se alimentan?<br>
                            La oveja está en el grupo de animales herbívoros, es decir, solo se alimenta de plantas. 
                            Este tipo de ganado se encuentra habitualmente en un ambiente natural, por tanto, se alimentan de gramíneas, 
                            arbustos que encuentren y leguminosos.
                    
                    </article>
            </section>  

        </section> 

        <aside>
            <h3> Datos curiosos:</h3>
            <p> 
                Tienen una gran inteligencia social. <br>
                Cuentan con reconocimiento facial.<br>
                Tienen un gran campo visual.<br>
                Su oído es sensible.<br>
                Cuentan con una memoria excepcional.<br>
                Su liderazgo es basado en experiencia.<br>
                Saben saltar.<br>
                Tienen resistencia al frío.<br>
            </p>

        </aside>

        <img src="/static/imagenes/gifoveja.gif" width="180px">
        <img src="/static/imagenes/gifoveja1.gif" width="220px">
{% endblock %}