{% extends "layaut.html" %}
{% block content %}
        <section class="main" >
    
            <section class="articles">
                    <article>
                        <h2>Pollos</h2>
                        <p>
                            ¿Cuales son sus caracteristicas?<br>
                            El pollo es un ave gallinácea, macho o hembra, de máximo 5 meses de vida. 
                            Actualmente se crían de manera intensiva en granjas. Contiene proteínas de alto valor biológico 
                            (el cuerpo las puede aprovechar con facilidad y son de buena calidad nutricional) y 
                            tiene poca grasa aunque predominan las grasas saturadas.
                        </p>
                    </article>
                    <article>
                        <h2></h2>
                        <p>
                            ¿Donde viven y de que se alimentan?<br>
                            Se alimentan de gusanos, insectos, semillas y materia vegetal, por eso es un animal omnívoro. 
                            La voz de la gallina se llama cacarear, la del gallo cantar y la de los pollitos piar. 
                            Viven en el gallinero y, aunque tienen plumas y alas como otras aves, no vuelan; 
                            casi siempre están sobre el suelo.
                    
                    </article>
            </section>  

        </section> 

        <aside>
            <h3> Datos curiosos:</h3>
            <p> 
                Los pollos pueden reconocer hasta 100 caras. ...<br>
                Los pollos sueñan. ...<br>
                Los pollos transmiten información. ...<br>
                Los pollos les pían a sus huevos. ...<br>
                Los pollos son jerárquicos. ...<br>
                Los pollos usan las experiencias pasadas para tomar decisiones. ...<br>
                Los pollos empatizan con sus compañeros.<br>
            </p>

        </aside>

        <img src="/static/imagenes/gifpollo1.gif" width="180px">
        <img src="/static/imagenes/gifpollos2.gif" width="150px">
{% endblock %}